.header-image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: 101;
}

html {
    scroll-behavior:smooth;
  }

body{
    margin: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    background-color:  #202e39;
    justify-content: center;
    align-items: center;
}

.container{
    position:absolute;
    right: 35px;
    left: 35px;
    top: 16px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 1000;
   
}

.container a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.menu{
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.menu:hover{
    
    color: orange;
}

.logo{
    position: absolute;
    left: 32px;
    top: 16px;
}

.headline{  
    text-align: center;
    justify-content: center;
    color:white;
    font-size:  40px;
    width: 60%;
    padding: 10px;
    margin: auto; 
    opacity: 0.4;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    position: absolute; 
    padding-top: 0;
    top: 50%;
    right: 18%;
     
}

.button{
    background-color: #ffdd03;
    padding: 8px 30px;
    color: black;
    border-radius: 8px;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.8);
}

.content-table{
    font-size: 20px;
    border-collapse: collapse;
    background-color: #2c3d4b;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%;
    height: 100%;
   
   
}

.content-table thead  {
    box-shadow: 0 3px 6px #000003;
    background-color: royalblue;
    color: black;
}

.content-table th,
.content-table td{
    padding: 25px 55px;
    text-align: left;}

.content-table tr:nth-child(even){
    background-color: #364a5a
}

footer{
    bottom: 0;
    color: white;
    background-color: #364a5a;
    width: 100%;
    text-align: center;
    justify-content: center;

}

.table-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kunden{
    font-size: 20px;
    border-collapse: collapse;
    background-color: #2c3d4b;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%;
    left: 320px;
    margin-bottom: 100px;
   
}

.kunden thead  {
    box-shadow: 0 3px 6px #000003;
    background-color: royalblue;
    color: black;
}

.kunden th,
.kunden td{
    padding: 25px 55px;
    text-align: left;}


   

.kunden tr:nth-child(even){
    background-color: #364a5a
}

.auto-start{
    background-image: url(img/autos.avif);
    background-color: #cccccc;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    filter: brightness(0.8);
    width: 100%;
    font-size: 100px;
    padding-top: 80px;
    margin: 0;
    
    
}
.kunden-start{
    background-image: url(img/kunden.jpg);
    background-color: #cccccc;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    color: orange;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 100px;
    padding-top: 80px;
    filter: brightness(0.8);
    margin: 0;
    margin-top: 10px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

select{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Stil für den Hinzufügen-Button */
#hinzufuegenButton {
    cursor: pointer;
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.kunden-tabelle{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;
}

.kunden-tabelle th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.kunden-tabelle th{
    background-color: darkgray;
}

.delete {
    cursor: pointer;
    padding: 5px;
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;}

.kontakt{
    height: 300px;
    padding: 30px 100px;
    display: flex;
    color: white;
    font-size: 30px;
    
}

.kontakt-start{
    background-image: url(img/kontakt..jpg);
    background-color: #cccccc;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    color:orange;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 100px;
    padding-top: 80px;
    filter: brightness(0.8);
    margin: 0;
    margin-top: 10px;
}

.last{
    height: 300px;
    padding: 50px 100px;
    display: flex;
    color: white;
    font-size: 20px;
}

.last form {
    width: 100%;
    margin: 20px auto;

}

.last textarea {
    width: 100%;

    margin-bottom: 20px;
}

.kontakt-info {
    margin: auto;
    padding: auto;
}
 .text{
    right: 20%;
 }

footer {
    height: 7vh;
    margin: 0;
    margin-top: 5%;
    color: white;
    background-color: #364a5a;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

#sendenButton {

    cursor: pointer;
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 50%;
}


